<a href="https://colab.research.google.com/github/chaima-mehri/DataScience_TP/blob/main/Exploration_statistique_des_donn%C3%A9es_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import de la bibliothèque pandas
import pandas  as pd
#lecture à partir d'un fichier csv
df=pd.read_csv('Downloads\Exploration_statistique_example.csv', sep=';')
#affichage
df

,ip,username,date,time,request
0,146.204.224.152,feest6811,21/Jun/2019,15:45:24 -0700,POST /incentivize HTTP/1.1
1,197.109.77.178,kertzmann3129,21/Jun/2019,15:45:25 -0700,DELETE /virtual/solutions/target/web+services ...
2,156.127.178.177,okuneva5222,21/Jun/2019,15:45:27 -0700,DELETE /interactive/transparent/niches/revolut...
3,100.32.205.59,ortiz8891,21/Jun/2019,15:45:28 -0700,PATCH /architectures HTTP/1.0
4,168.95.156.240,stark2413,21/Jun/2019,15:45:31 -0700,GET /engage HTTP/2.0
...,...,...,...,...,...
974,135.186.69.192,***,21/Jun/2019,16:01:58 -0700,PATCH /best-of-breed HTTP/1.1
975,32.86.3.51,***,21/Jun/2019,16:01:59 -0700,GET /optimize/impactful/sexy/channels HTTP/2.0
976,176.68.62.252,turner3261,21/Jun/2019,16:02:00 -0700,GET /viral HTTP/1.1
977,35.86.149.61,zemlak6334,21/Jun/2019,16:02:01 -0700,HEAD /incentivize HTTP/2.0
978,30.95.91.251,larson8319,21/Jun/2019,16:02:02 -0700,PUT /one-to-one/whiteboard HTTP/1.0

In [ ]:
#Is it empty?
df.empty

False

In [ ]:
#Afficher la taille du tableau
df.shape

(979, 5)

In [ ]:
#Le titre des colonnes
df.columns

Index(['ip', 'username', 'date', 'time', 'request'], dtype='object')

In [ ]:
#Le nombre de lignes:
len(df)

979

In [ ]:
#Des informations générales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ip        979 non-null    object
 1   username  979 non-null    object
 2   date      979 non-null    object
 3   time      979 non-null    object
 4   request   979 non-null    object
dtypes: object(5)
memory usage: 38.4+ KB

In [ ]:
#Un résumé des statistiques principales
df.describe()

,ip,username,date,time,request
count,979,979,979,979,979
unique,979,502,1,979,974
top,196.95.163.236,***,21/Jun/2019,15:55:35 -0700,PATCH /architectures HTTP/1.0
freq,1,478,979,1,2

In [ ]:
#Voir les rangs à partir du haut avec la tête
df.head(20)

,ip,username,date,time,request
0,146.204.224.152,feest6811,21/Jun/2019,15:45:24 -0700,POST /incentivize HTTP/1.1
1,197.109.77.178,kertzmann3129,21/Jun/2019,15:45:25 -0700,DELETE /virtual/solutions/target/web+services ...
2,156.127.178.177,okuneva5222,21/Jun/2019,15:45:27 -0700,DELETE /interactive/transparent/niches/revolut...
3,100.32.205.59,ortiz8891,21/Jun/2019,15:45:28 -0700,PATCH /architectures HTTP/1.0
4,168.95.156.240,stark2413,21/Jun/2019,15:45:31 -0700,GET /engage HTTP/2.0
5,71.172.239.195,dooley1853,21/Jun/2019,15:45:32 -0700,PUT /cutting-edge HTTP/2.0
6,180.95.121.94,mohr6893,21/Jun/2019,15:45:34 -0700,PATCH /extensible/reinvent HTTP/1.1
7,144.23.247.108,auer7552,21/Jun/2019,15:45:35 -0700,POST /extensible/infrastructures/one-to-one/en...
8,2.179.103.97,lind8584,21/Jun/2019,15:45:36 -0700,POST /grow/front-end/e-commerce/robust HTTP/2.0
9,241.114.184.133,tromp8355,21/Jun/2019,15:45:37 -0700,GET /redefine/orchestrate HTTP/1.0
10,224.188.38.4,keebler1423,21/Jun/2019,15:45:40 -0700,PUT /orchestrate/out-of-the-box/unleash/syndic...
11,94.11.36.112,klein8508,21/Jun/2019,15:45:41 -0700,POST /enhance/solutions/bricks-and-clicks HTTP...
12,126.196.238.197,gusikowski9864,21/Jun/2019,15:45:45 -0700,DELETE /rich/reinvent HTTP/2.0
13,103.247.168.212,medhurst2732,21/Jun/2019,15:45:49 -0700,HEAD /scale/global/leverage HTTP/1.0
14,57.86.153.68,dubuque8645,21/Jun/2019,15:45:50 -0700,POST /innovative/roi/robust/systems HTTP/1.1
15,231.220.8.214,luettgen1860,21/Jun/2019,15:45:52 -0700,HEAD /systems/sexy HTTP/1.1
16,219.133.7.154,price5585,21/Jun/2019,15:45:53 -0700,GET /incubate/incubate HTTP/1.1
17,159.252.184.44,fay7852,21/Jun/2019,15:45:54 -0700,GET /convergence HTTP/2.0
18,40.167.172.66,kshlerin3090,21/Jun/2019,15:45:57 -0700,HEAD /convergence HTTP/2.0
19,167.153.239.72,schaden8853,21/Jun/2019,15:45:58 -0700,DELETE /bandwidth/reintermediate/engage HTTP/2.0

In [ ]:
#Visualisez les lignes à partir du bas avec tail(). Visualisons 2 lignes :
df.tail(2)

,ip,username,date,time,request
977,35.86.149.61,zemlak6334,21/Jun/2019,16:02:01 -0700,HEAD /incentivize HTTP/2.0
978,30.95.91.251,larson8319,21/Jun/2019,16:02:02 -0700,PUT /one-to-one/whiteboard HTTP/1.0