<a href="https://colab.research.google.com/github/chaima-mehri/DataScience_TP/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [ ]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)


from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
X_train

1976                      Delhi and chennai still silent.
1486    (I should add that I don't really care and if ...
3108    Hi. Happy New Year. I dont mean to intrude but...
671                  Ho ho - big belly laugh! See ya tomo
191     Are you unique enough? Find out from 30th Augu...
                              ...
2200               Not sure I have the stomach for it ...
4919    Sitting in mu waiting for everyone to get out ...
986     Carlos says he'll be at mu in  &lt;#&gt;  minutes
530                  Jay says that you're a double-faggot
2982    7 wonders in My WORLD 7th You 6th Ur style 5th...
Name: Message, Length: 4179, dtype: object

In [ ]:
#une autre methode
coun_vect = CountVectorizer()
count_matrix = coun_vect.fit_transform(X_train.values)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
print(df)

      00  000  008704050406  0089  01223585334  0125698789  02  0207  \
0      0    0             0     0            0           0   0     0
1      0    0             0     0            0           0   0     0
2      0    0             0     0            0           0   0     0
3      0    0             0     0            0           0   0     0
4      0    0             0     0            0           0   0     0
...   ..  ...           ...   ...          ...         ...  ..   ...
4174   0    0             0     0            0           0   0     0
4175   0    0             0     0            0           0   0     0
4176   0    0             0     0            0           0   0     0
4177   0    0             0     0            0           0   0     0
4178   0    0             0     0            0           0   0     0

      02073162414  02085076972  ...  zebra  zed  zeros  zindgi  zoe  \
0               0            0  ...      0    0      0       0    0
1               0            0  ...      0    0      0       0    0
2               0            0  ...      0    0      0       0    0
3               0            0  ...      0    0      0       0    0
4               0            0  ...      0    0      0       0    0
...           ...          ...  ...    ...  ...    ...     ...  ...
4174            0            0  ...      0    0      0       0    0
4175            0            0  ...      0    0      0       0    0
4176            0            0  ...      0    0      0       0    0
4177            0            0  ...      0    0      0       0    0
4178            0            0  ...      0    0      0       0    0

      zogtorius  zoom  zouk  zyada  Ã¨n
0             0     0     0      0   0
1             0     0     0      0   0
2             0     0     0      0   0
3             0     0     0      0   0
4             0     0     0      0   0
...         ...   ...   ...    ...  ..
4174          0     0     0      0   0
4175          0     0     0      0   0
4176          0     0     0      0   0
4177          0     0     0      0   0
4178          0     0     0      0   0

[4179 rows x 7373 columns]

111

In [ ]:
#un autre exemple
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
text = ['Hello my name is python',
'this is my python notebook',
        'Im trying to create a big dataset'
       ]
coun_vect = CountVectorizer()
count_matrix = coun_vect.fit_transform(text)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = coun_vect.get_feature_names())
print(df)

   big  create  dataset  hello  im  is  my  name  notebook  python  this  to  \
0    0       0        0      1   0   1   1     1         0       1     0   0
1    0       0        0      0   0   1   1     0         1       1     1   0
2    1       1        1      0   1   0   0     0         0       0     0   1

   trying
0       0
1       0
2       1

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [ ]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [ ]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9863603732950467

In [ ]:
#Sklearn Pipeline

from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [ ]:
clf.score(X_test,y_test)

0.9863603732950467

In [ ]:
clf.predict(emails)

array([0, 1], dtype=int64)